@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --darkblue: #141922;
    --darkgrey: #282828;
    --grey: #6F6F6F;
    --lightgrey: #A3A3A3;
    --darkwhite: #D2D2D2;

}


html{
    font-family: 'Montserrat', sans-serif;
    
}

.flexrow{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* DESKTOP FIRST */



/* Sectionleft */
.sectionleft{
    width: 200px;
    background-color: black;
}

.logo{
    width:125px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.item-menu{
    padding-top: 6px;
    padding-bottom: 6px;

}

.item-menu-on{
    border-left: 3px solid rgb(0, 255, 0);

}

.iconmenu{
    font-size:1.2em;
    color: var(--grey);
    padding-left: 15px;

}

.iconmenu-on{
    color: var(--darkwhite);
}

.textmenu{
    font-size: 0.7em;
    font-weight: 700;
    color: var(--grey);
    padding-left: 7px;
}

.textmenu-on{
    color: white;
}


/* Section right*/

.sectionright{
    background-color: var(--darkblue);
    height: calc(100vh - 110px);
    width: calc(100% - 200px);
    overflow: auto;
}

header{
    height:80px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10px;
}

#button{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    font-size: 0.7em; 
    font-weight: 700;
    color: white;
    border: 1.5px solid white;
    padding: 10px 30px;

}


.menufilter{
    padding-top: 100px;
    justify-content: center;
}

.selection{
    color: var(--grey);
    padding: 0 12px;
    font-weight: 700;
    font-size: 0.7em;
}

.bloc{
    padding-left: 15px;
    padding-right: 15px;
}

.category{
    color: white;
    font-weight: 700;
    font-size: 1.4em;
    padding-top: 40px;
    padding-left: 5px;

}

.boxalbum{
  
}

.thumb{
    width: 100%;
}

.img-album{
    width: 100%;
}

.album{
    width: calc( 100% / 6 );
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 25px;
}

.title{
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subtitle{
    font-size: 0.7em;
    font-weight: 700;
    color: var(--grey);
    padding-left: 7px;
    padding-top: 10px;
}


/* Footer */

footer{
    background-color: var(--darkgrey);
    height: 100px;
}